<div class="edit-profile">
<h2>Редагування профілю</h2>

<%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>



  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Ми все ще чекаємо підтвердження пошти: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="main-info">
    <h3>Основна інформація:</h3>

    <label>Ім'я:</label>
    <%= f.text_field :name,  class: "form-control", autocomplete: "on" %>

    <label>Призвіще:</label>
    <%= f.text_field :surname,  class: "form-control", autocomplete: "on" %>

    <label>Дата народження:</label>
    <%= f.date_field :birthdate, class: "form-control", autocomplete: "on" %>

    <label>Місто:</label>
    <%= f.text_field :city,  class: "form-control", autocomplete: "on" %>

    <label>Країна:</label>
    <%= f.text_field :country,  class: "form-control", autocomplete: "on" %>

    <label>Стать:</label>
    <%= f.select :sex, "<option>Чоловік</option><option>Жінка</option>".html_safe,{}, class: "form-control" %>

    <label>Аватар:</label>
    <%= f.file_field :avatar %>


  </div>

  <div class="activity-settings">
    <h3>Діяльність:</h3>
    <label>Вид діяльності:</label>
    <%= f.select :activity, "<option>Студент</option><option>Працюю</option><option>Безробітній/Не студент</option>".html_safe,{}, class: "form-control" %>
    <label>Освіта:</label><i> (Залиште порожнім, якщо нема)</i>
    <%= f.text_field :education,  class: "form-control", autocomplete: "on" %>
    <label>ВУЗ:</label><i> (Залиште порожнім, якщо нема)</i>
    <%= f.text_field :university,  class: "form-control", autocomplete: "on" %>
    <label>Місце роботи і посада:</label> <i> (Залиште порожнім, якщо нема)</i>
    <%= f.text_field :postition,  class: "form-control", autocomplete: "on" %>
    <label>Наукова степінь:</label><i> (Залиште порожнім, якщо нема)</i>
    <%= f.text_field :degree,  class: "form-control", autocomplete: "on" %>
  </div>

  <div class="about-yourself-settings">
    <h3>Про себе:</h3>
    <%= f.text_area :about,  class: "form-control", autocomplete: "on",  rows: "3" %>
  </div>

  <div class="field">
    <h3>Зміна паролю</h3>
    <label>Новий пароль: </label> <i>(Залиште поле порожнім, якщо не хочете змінити пароль)</i>
    <%= f.password_field :password,  class: "form-control", autocomplete: "off" %>

  </div>

  <div class="field">
    <label>Підтвердження нового паролю: </label>:
    <%= f.password_field :password_confirmation,  class: "form-control", autocomplete: "off" %>
  </div>

  <div class="field">
      <label>Старий пароль: </label> <i>(для підтвердження нового паролю, введіть старий)</i>
    <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Оновити профіль", class: 'btn btn-default' %>
  </div>
<% end %>



<%= link_to "Повернутись назад", :back %>

</div>
