<label>Назва статті:</label>
<%= f.text_field :article, class: 'form-control' %>
<label>Текст статті:</label>
<%= f.text_area :body, class: "tinymce", rows: 20, cols: 120 %><br/>
<label>Завантажте мініатюру:</label>
<%= f.file_field :mainphoto, class: "form-control-file" %>
<label>Категорія статті:</label>
<%= select_tag "category_id", options_from_collection_for_select(Category.all, :id, :name) , class: 'form-control'%>
<%= f.label "Завантажити файли:" %>
<%= file_field_tag "images[]", type: :file, multiple: true, class: "form-control-file"%>
<%= f.submit "Опублікувати статтю", class: "btn btn-default" %>
