<div class="article-show">
   <div class="img">
   <%= image_tag @post.mainphoto.url, class: "img-responsive" %>
   </div>
   <div class="post">
     <h5  class="category"><%= @post.category.name %></h5>
     <hr class="blog-hr">
       <h2 class="title"><%= @post.article %></h2>
       <span class="post-body"> <%= sanitize(@post.body) %> </span>

       <% if user_signed_in? &&  @post.user_id.to_i.equal?(current_user.id) %>
         <div class="article-control-links">
         <hr align="right" width="25%">
           <%= link_to 'Редагувати', edit_post_path(@post.id) %>
           <%= link_to 'Видалити', post_path(@post.id), method: :delete %>
          </div>
       <% end %>
</div>
</div>
